.back{
    background-color: Black;
    background-image: linear-gradient( black,rgb(255, 86, 114) );
}


/* .carousel-inner > .item {
    height: 780px;
} */

.carousel .carousel-item {
    height: 500px;
  }
  
.carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0x;
      left: 27%;
      min-height: 500px;
  }

